.btn-active {
  background-color: #293b44;
  color: white;
}

.btn {
  border-radius: 0;
  transition: all 0.4s ease-in-out;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

.btn:hover {
  color: white;
  background-color: #293b44;
}

.btn-link {
  text-decoration: none;
  color: #293b44;
}

.btn-link.btn-active {
  color: white;
}

.navbar-brand {
  width: 30%;
  cursor: pointer;
}

.navbar-brand img {
  width: 100%;
  object-fit: cover;
}

.navbar-toggler-icon {
  color: #293b44;
}

.navbar-collapse,
.collapse {
  justify-content: flex-end;
}
